:root{
  --accent-primary:#AC0000;
  --text-primary:#111;
  --text-secondary: #fff;
  --accent-secondary:#F7FA4C;
  --accent-tertiary: #d9d9d9;
  --rgb-black: 0, 0, 0;
  --rgb-secondary: 255, 255, 255;
  --rgb-header: 69, 69, 69;
  --nav-height: 51px;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  border: none;
  box-shadow: none;
  background: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  font-family: 'Inter', sans-serif;
  color: var(--text-primary);
  box-sizing: border-box;
}


body {
  position: relative;
  min-height: 100dvh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 51px, 1fr, auto;
  grid-template-areas: 
  "navbar"
  "main"
  "footer";
}

section {
  max-width: 100vw;
  min-height: 100dvh;
  min-height: 100svh;
  padding: 51px 0;
  overflow-x: hidden;
}

.red-button {
  background-color: var(--accent-primary);
  color: var(--text-secondary);
  padding: 10px 5px;

}

.brand {
  color: var(--accent-primary);
}

  
/* ----- NAV ----- */
nav {
  grid-area: navbar;
  position: sticky;
  display: flex;
  top: 0;
  background-color: rgba(var(--rgb-header), 0.69);
  height: var(--nav-height);
  transition: background-color .2s ease;
  z-index: 10;   
  padding: 0 15px;
}

nav.after-hero {
  background-color: rgba(var(--rgb-header), .9);
}

.logo {
  margin-right: auto;
  display: flex;
  height: 70.35px;
  position: absolute;
  width: auto;
}


.main-nav{
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  gap: clamp(1.5rem, 1.5rem + 0.5vw, 3rem)
}

/* inactive */
.main-nav a {
  color: rgba( 255, 255, 255, 0.5);
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-size: clamp(14px, calc(12.93px + 0.1786vw), 17.5px);
}

/* active */
.main-nav a[aria-current="true"], 
.main-nav a[aria-current="page"] { 
  color: var(--text-secondary);
  font-weight: 600; 
  text-shadow: 0 0 1px var(--text-secondary);
  text-decoration: underline; 
  text-underline-offset: 18px; 
  text-decoration-thickness: 1.15px; 
  text-decoration-color: rgba(var(--rgb-secondary), 0.9); 
}

.main-nav .label-full  { display: inline; }
.main-nav .label-short { display: none; }




/* Right Nav*/

#right-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.nav-icons-container {
  display: flex;
  gap: 19px;
  align-items: center;
}


.nav-icon {
  height: 15px;
  width: 15px;
}



.sign-in-button {
  background-color: var(--accent-primary);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  padding: 5px 12px;
}

.hamburger {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  width: 19px;
  height: 19px;
}

@media (max-width: 680px) {
  .sign-in-button {
    background-color: transparent;
    padding: 0;
    width: clamp(16px, 3vw + 4px, 20px);
    height: clamp(16px, 3vw + 4px, 20px);
    background-image: url('/assets/user-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
  }

  .main-nav {
    gap: 6vw;
    flex-wrap: nowrap;
    left: auto;
    transform: translate(2%, -50%);
  }
  .logo {
    display: none;
  }
}
@media (max-width: 866px) {
  .main-nav .hamburger-item {
    display: none;}
  .logo  {
    height: calc(3vw + 30px);
    top: calc(51px - 14% - 4vw);
  }
}
@media (max-width: 374px) {
  .main-nav .label-full  { display: none; }
  .main-nav .label-short { display: inline; }
}
@media (max-width: 1110px) { 
  .nav-icons-container {
    display: none;
  }
}




aside {
  grid-area: sidebar;
  position: sticky;
  align-self: start;
  top: var(--nav-height);
  height: 100dvh;
  height: 100vh;
}

main {
  grid-area: main;
  position: relative;
  top: -51px;
}

footer {
  grid-area: footer;
}


aside {
  position: fixed;
  width: 300px;
  display: none;
}

.show{
  display: block;
}


.section-title{
  text-align:center;
  font-size: 36px;
  font-weight:800;
  padding: 10px 0;
  margin: 0px calc(2vw + 20px);
}

@media(max-width: 900px) {
  .section-title {
    font-size: clamp(12px, 5vw, 36px)
  }
}


#sidebar {
  display: none;
}

@media(min-width: 2560px) {
  body {
    grid-template-columns: 8fr 2fr; /* Add sidebar column */
    grid-template-areas:
      "navbar sidebar"
      "main sidebar"
      "footer sidebar";
  }

  .hamburger {
    display: none;
  }
}




/* ----- HERO ----- */
.hero {
  position: relative;
  display: flex;
  padding: var(--nav-height), 0;
  background: linear-gradient(rgba(var(--rgb-black),.6), rgba(var(--rgb-black),.6)), url('assets/hero-bg.png') center 35%/cover no-repeat;
  transition: background-size 0.5s ease, background-position 0.5s ease;
  color: var(--text-secondary);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: inline-flex;
  height: max-content;
  width: max-content;
  flex-direction: column;
  gap: clamp(120px, 5vw + 2vh + 28px, 145px);
  justify-content: center;
  align-items: center;
  max-width: 100%;
}


.business-name {
  font-weight: 700;
  font-size: clamp(47px, 2vw + 25px, 67px);
  letter-spacing: 2px;
}

.hero-tagline {
  font-weight: 400;
  font-size: clamp(20px, .75vw + 14px, 28px);
}

.hero-actions {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}


.btn-book {
  width: 100%; 
  border: 3px solid var(--text-secondary);
  background: transparent;
  border-radius: 12px;
  color: var(--text-secondary);
  font-weight: 600;
  font-size: clamp(26px, .94vw + 12px, 33px);
  padding: calc(.375vw + 5px) 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

#subtext {
  font-size: clamp(16px, .625vw + 7px, 22px);
}

.hero-phone {
  display: block;
  font-weight: 600;
  font-size: clamp(34px, 1.125vw + 14.4px, 39px);
  text-decoration: underline;
  text-underline-offset: 8px;
  color: white;
}

.helper-text {
  font-weight: 400;
  font-size: clamp(16px, .625vw + 8px, 23px);
  font-style: italic;
}


.hero-subtitles {
  font-size: clamp(12px, .5vw + 6.5px, 19px);
  font-style: italic;
  font-weight: 200;
}

@media (max-width: 900px) {
  .hero-subtitles {
    max-width: 65vw;
  }
}

.down-arrow {
  position: absolute;
  width: 26px;
  height: 26px;
  padding: 5px;
  bottom: 10px;
}

.down-arrow img {
  height: 100%;
  width: 100%;
}


.hero,
.about {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* mobile responsiveness */

@media (max-width: 1070px) {
  .hero-content {
    gap: clamp(90px, 7.4vw , 145px);
  }
  .business-name {
    font-size: clamp(13px, 2.6vw + 12.8px, 47px);
  }
  .hero-tagline {
    font-size: clamp(12px, 1.12vw + 2.4px, 20px);
  }
  .btn-book {
    font-size: clamp(14px, 1.4vw + 3px, 33px);
    padding: calc(.2vw + 7px) 0;
    border-width: 1.5px;
    border-radius: 10px;
  }
  #subtext {
  font-size: clamp(16px, .625vw + 7px, 22px);
  }

  .hero-phone {
    font-size: clamp(18px, 1.68vw + 3.6px, 39px);
  }

  .helper-text {
    font-weight: 400;
    font-size: clamp(10px, .936vw + 2px, 23px);
    font-style: italic;
  }


  .hero-subtitles {
    font-size: clamp(10px, .75vw + 1.6px, 19px);
    font-style: italic;
    font-weight: 200;
  }

  @media (max-width: 900px) {
    .hero-subtitles {
      max-width: 65vw;
    }
  }

  .down-arrow {
    position: absolute;
    width: 26px;
    height: 26px;
    padding: 5px;
    bottom: 10px;
  }

  .down-arrow img {
    height: 100%;
    width: 100%;
  }

}






/* ----- ABOUT ----- */
.about {
  min-height: 100dvh;
  min-height: 100vh;
  padding: var(--nav-height) 0px;
}

.about-content {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}

.about-overview {
  display: grid;
  grid-template-columns: 458px 1fr;
  gap: 40px;
}

.value-prop{
  font-weight: 800;
  font-size: 48px;
  align-self: center;
}
.value-prop strong{ color:var(--accent-primary); }

.about-specifics * {
  text-align: start;
  font-size: 20px;
}

.about-specifics h3 {
  padding: 10px 0;
  font-size: 32px;
  font-weight: 800;
  color: white;;
  text-shadow: 
    -1px -1px 0 var(--accent-primary),
     1px -1px 0 var(--accent-primary),
    -1px  1px 0 var(--accent-primary),
     1px  1px 0 var(--accent-primary);
}

.about-details {
  display: grid;
  grid-template-columns: auto auto;
  gap: 60px;
}

.about-details h3 {
  font-size: 32px;
  font-weight: 800;
}

.about-details * {
  font-size: 20px;
}


.office-hours {
  text-align: center;
}

.hours-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px 10px;
  margin-inline: auto;
}

.hours-list * {
  text-align: start;
}

.kicker {
  font-size: 16px;
  color: var(--accent-primary);
}

/* mobile responsiveness */
@media (max-width: 900px) {

.about-content {
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 0 calc(6vw + 12px);
}

.about-overview {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: unset;
  gap: 40px;
}

.value-prop{
  font-size: calc(2.5vw + 12px);
  width: 70%;
  margin: 0 auto; 
}

.about-specifics * {
  font-size: 3vw;
}

.about-specifics h3 {
  padding: 10px 0;
  font-size: 32px;
  font-weight: 800;
  color: white;;
  text-shadow: 
    -1px -1px 0 var(--accent-primary),
     1px -1px 0 var(--accent-primary),
    -1px  1px 0 var(--accent-primary),
     1px  1px 0 var(--accent-primary);
}

.about-details {
  display: grid;
  grid-template-columns: auto auto;
  gap: 60px;
}

.about-details h3 {
  font-size: 32px;
  font-weight: 800;
}

.about-details * {
  font-size: 20px;
}


.office-hours {
  text-align: center;
}

.hours-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px 10px;
  margin-inline: auto;
}

.hours-list * {
  text-align: start;
}

.kicker {
  font-size: 16px;
  color: var(--accent-primary);
}
}


/* SERVICES Section */

.services {
  background-color: var(--accent-tertiary);
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 20px 25px;
}

.services-list img {
  width: 91.75px;
  height: 91.75px;
}

.services-list div {
  background-color: var(--text-secondary);
  border: 1px solid var(--accent-primary);
  border-color: var(--accent-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* INSTRUCTORS Section */
.instructors {
  background: linear-gradient(rgba(var(--rgb-black),.6), rgba(var(--rgb-black),.6)), url('assets/instructor-bg.jpg') center 35%/cover no-repeat;
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
}

.instructors h2 {
  color: var(--text-secondary);
}


.instructors-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 42px;
  align-items: center;
  justify-content: center;
}

.instructors-card {
  height: fit-content;
  background-color: var(--accent-tertiary);
  padding: 30px 20px;
  border-radius: 20px;
  display: grid;
  grid-template-areas:
    "instructors-img"
    "."
    "instructors-name"
    "."
    "instructors-role";
  grid-template-rows: auto 50px auto 5px auto;
  align-items: center;
  justify-content: center;
}

.instructors-img {
  height: 237px;
  width: 237px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  grid-area: instructors-img;
}
.instructors-name {
  grid-area: instructors-name;
}
.instructors-role {
  grid-area: instructors-role;
}


/* REVIEWS section */

.reviews {
  display: grid;
  grid-template-rows: auto 1fr;
}

.reviews-card {
  place-self: center;
  background-color: var(--text-secondary);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  width: 937px;
  height: 455px;
  border-radius: 21px;
}

.reviews-card hr {
  height: 1px;
  background-color: var(--text-primary);
}

.reviews-card h4 {
  font-size: 32px;
  font-weight: 500;
}

.reviews-card img {
  width: 266.35px;
  height: 124px;
}


/* GALLERY section */

.gallery-pictures {
  width: min(1000px, 100%);
  margin: 0 auto;
  columns: 3 300px;
  column-gap: 12px;
}

.gallery-pictures img {
  width: 100%;
}


/* USE-OUR-CAR-LINK Section */

.use-our-car-link {
  max-height: fit-content;
  min-height: auto;
}

.use-our-car-link a {
  display: inline-block;
  border-radius: 20px;
  height: auto;
  width: auto;
  padding: 20px;
  background-color: var(--text-primary);
  font-size: 38px;
  font-weight: 800;
  color: var(--text-secondary);
}